Goatverse/Connected Services/GoatverseService/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GoatverseService" />
  <xs:import schemaLocation="http://localhost:8083/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8083/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="ServiceTryLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="userData" nillable="true" type="q1:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTryLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceTryLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTrySignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="userData" nillable="true" type="q2:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTrySignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceTrySignInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUserExistsByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUserExistsByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceUserExistsByUsernameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceVerifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceVerifyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceVerifyPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicePasswordChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="userData" nillable="true" type="q3:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicePasswordChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServicePasswordChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUsernameChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="userData" nillable="true" type="q4:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUsernameChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceUsernameChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicePasswordAndUsernameChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="userData" nillable="true" type="q5:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicePasswordAndUsernameChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServicePasswordAndUsernameChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGetEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSendMessageToLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="messageData" nillable="true" type="q6:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceConnectToLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceConnectToLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceConnectToLobbyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDisconnectFromLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDisconnectFromLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceDisconnectFromLobbyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCountPlayersInLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCountPlayersInLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceCountPlayersInLobbyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCreateLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCreateLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceCreateLobbyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceStartLobbyMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceStartLobbyMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceStartLobbyMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="messageData" nillable="true" type="q7:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUpdatePlayersInLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="players" nillable="true" type="q8:ArrayOfPlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceStartMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="players" nillable="true" type="q9:ArrayOfPlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceNotifyMatchStart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceOwnerLeftLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newOwner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceLoadProfileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceLoadProfileDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceLoadProfileDataResult" nillable="true" type="q10:ProfileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceChangeProfileImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceChangeProfileImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceChangeProfileImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetProfileByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetProfileByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetProfileByUserIdResult" nillable="true" type="q11:ProfileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceIncrementMatchesWonByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceIncrementMatchesWonByUserNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetWonMatchesByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetWonMatchesByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGetWonMatchesByUsernameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSendFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceSendFriendRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRemoveFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRemoveFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceRemoveFriendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAcceptFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAcceptFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceAcceptFriendRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetFriendsResult" nillable="true" type="q12:ArrayOfPlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceIsPendingFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceIsPendingFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceIsPendingFriendRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetPendingFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetPendingFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetPendingFriendRequestResult" nillable="true" type="q13:ArrayOfPlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceIsUserBlocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameBlocker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameBlocked" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceIsUserBlockedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceIsUserBlockedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetBlockedUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetBlockedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetBlockedUsersResult" nillable="true" type="q14:ArrayOfPlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRemoveBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameBlocked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameBlocker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRemoveBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceRemoveBlockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceBlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameBlocked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameBlocker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceBlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceBlockUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCreateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCreateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceCreateMatchResult" nillable="true" type="q15:MatchData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetMatchById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetMatchByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetMatchByIdResult" nillable="true" type="q16:MatchData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUpdateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idWinner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUpdateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceUpdateMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetRecentMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topN" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetRecentMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetRecentMatchesResult" nillable="true" type="q17:ArrayOfMatchData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceInitializeGameTurns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceNotifyEndTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentGamertag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetCurrentTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetCurrentTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGetCurrentTurnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceConnectToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceConnectToGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceConnectToGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCreateDeck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceNotifyDrawCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUpdatePointsFromPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="points" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceEndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAttackPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernameAttacker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attackPoints" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceNotifyEndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="winnerUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUpdateCurrentTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentTurn" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="playerPoints" nillable="true" type="q18:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSyncTimer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceReceiveDeck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="shuffledDeck" nillable="true" type="q19:StackOfCardData2jt2vigx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRemoveCardFromDeck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetAllCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetAllCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetAllCardsResult" nillable="true" type="q20:ArrayOfCardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetCardById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGetCardByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="ServiceGetCardByIdResult" nillable="true" type="q21:CardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAddCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GoatverseService" minOccurs="0" name="cardData" nillable="true" type="q22:CardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAddCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceAddCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDeleteCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDeleteCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceDeleteCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>