Goatverse/Connected Services/GoatverseService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GoatverseService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GoatverseService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="MessageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageData" nillable="true" type="tns:MessageData" />
  <xs:complexType name="ProfileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProfile" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchesWon" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileLevel" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPoints" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileData" nillable="true" type="tns:ProfileData" />
</xs:schema>