Goatverse/Connected Services/GoatverseService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GoatverseService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GoatverseService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="MessageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageData" nillable="true" type="tns:MessageData" />
  <xs:complexType name="ArrayOfPlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerData" nillable="true" type="tns:PlayerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerData" nillable="true" type="tns:ArrayOfPlayerData" />
  <xs:complexType name="PlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerData" nillable="true" type="tns:PlayerData" />
  <xs:complexType name="ProfileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProfile" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchesWon" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileLevel" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPoints" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileData" nillable="true" type="tns:ProfileData" />
  <xs:complexType name="MatchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMatch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdWinner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchData" nillable="true" type="tns:MatchData" />
  <xs:complexType name="ArrayOfMatchData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchData" nillable="true" type="tns:MatchData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchData" nillable="true" type="tns:ArrayOfMatchData" />
  <xs:complexType name="ArrayOfCardData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardData" nillable="true" type="tns:CardData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardData" nillable="true" type="tns:ArrayOfCardData" />
  <xs:complexType name="CardData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCard" type="xs:int" />
      <xs:element minOccurs="0" name="ImageCardId" type="xs:int" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardData" nillable="true" type="tns:CardData" />
</xs:schema>