Goatverse/Connected Services/GoatverseService/ServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUsersManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IProfilesManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendsManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GoatverseService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersManager_ServiceTryLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTryLogin" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceTryLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTryLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceTrySignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTrySignIn" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceTrySignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTrySignInResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceUserExistsByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceUserExistsByUsername" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceUserExistsByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceUserExistsByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceVerifyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVerifyPassword" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceVerifyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVerifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServicePasswordChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:ServicePasswordChanged" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServicePasswordChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServicePasswordChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceUsernameChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceUsernameChanged" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceUsernameChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceUsernameChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServicePasswordAndUsernameChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:ServicePasswordAndUsernameChanged" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServicePasswordAndUsernameChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServicePasswordAndUsernameChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceGetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetEmail" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceGetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceSendMessageToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceSendMessageToLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceConnectToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceConnectToLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceConnectToLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceConnectToLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceDisconnectFromLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDisconnectFromLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceDisconnectFromLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDisconnectFromLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceCountPlayersInLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCountPlayersInLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceCountPlayersInLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCountPlayersInLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceCreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceCreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceGetMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetMessage" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceUpdatePlayersInLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceUpdatePlayersInLobby" />
  </wsdl:message>
  <wsdl:message name="IProfilesManager_ServiceLoadProfileData_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceLoadProfileData" />
  </wsdl:message>
  <wsdl:message name="IProfilesManager_ServiceLoadProfileData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceLoadProfileDataResponse" />
  </wsdl:message>
  <wsdl:message name="IProfilesManager_ServiceChangeProfileImage_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceChangeProfileImage" />
  </wsdl:message>
  <wsdl:message name="IProfilesManager_ServiceChangeProfileImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceChangeProfileImageResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceSendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceSendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceSendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceSendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceRemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceRemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceRemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceRemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceAcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceAcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceGetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceGetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceIsPendingFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceIsPendingFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceIsPendingFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceIsPendingFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceGetPendingFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetPendingFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_ServiceGetPendingFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetPendingFriendRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersManager">
    <wsdl:operation name="ServiceTryLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceTryLogin" message="tns:IUsersManager_ServiceTryLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceTryLoginResponse" message="tns:IUsersManager_ServiceTryLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceTrySignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceTrySignIn" message="tns:IUsersManager_ServiceTrySignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceTrySignInResponse" message="tns:IUsersManager_ServiceTrySignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceUserExistsByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceUserExistsByUsername" message="tns:IUsersManager_ServiceUserExistsByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceUserExistsByUsernameResponse" message="tns:IUsersManager_ServiceUserExistsByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceVerifyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceVerifyPassword" message="tns:IUsersManager_ServiceVerifyPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceVerifyPasswordResponse" message="tns:IUsersManager_ServiceVerifyPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServicePasswordChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServicePasswordChanged" message="tns:IUsersManager_ServicePasswordChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServicePasswordChangedResponse" message="tns:IUsersManager_ServicePasswordChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceUsernameChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceUsernameChanged" message="tns:IUsersManager_ServiceUsernameChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceUsernameChangedResponse" message="tns:IUsersManager_ServiceUsernameChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServicePasswordAndUsernameChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServicePasswordAndUsernameChanged" message="tns:IUsersManager_ServicePasswordAndUsernameChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServicePasswordAndUsernameChangedResponse" message="tns:IUsersManager_ServicePasswordAndUsernameChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceGetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceGetEmail" message="tns:IUsersManager_ServiceGetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceGetEmailResponse" message="tns:IUsersManager_ServiceGetEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILobbyManager">
    <wsdl:operation name="ServiceSendMessageToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceSendMessageToLobby" message="tns:ILobbyManager_ServiceSendMessageToLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceConnectToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceConnectToLobby" message="tns:ILobbyManager_ServiceConnectToLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceConnectToLobbyResponse" message="tns:ILobbyManager_ServiceConnectToLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceDisconnectFromLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceDisconnectFromLobby" message="tns:ILobbyManager_ServiceDisconnectFromLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceDisconnectFromLobbyResponse" message="tns:ILobbyManager_ServiceDisconnectFromLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceCountPlayersInLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceCountPlayersInLobby" message="tns:ILobbyManager_ServiceCountPlayersInLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceCountPlayersInLobbyResponse" message="tns:ILobbyManager_ServiceCountPlayersInLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceCreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceCreateLobby" message="tns:ILobbyManager_ServiceCreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceCreateLobbyResponse" message="tns:ILobbyManager_ServiceCreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceGetMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceGetMessage" message="tns:ILobbyManager_ServiceGetMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceUpdatePlayersInLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceUpdatePlayersInLobby" message="tns:ILobbyManager_ServiceUpdatePlayersInLobby_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProfilesManager">
    <wsdl:operation name="ServiceLoadProfileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfilesManager/ServiceLoadProfileData" message="tns:IProfilesManager_ServiceLoadProfileData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfilesManager/ServiceLoadProfileDataResponse" message="tns:IProfilesManager_ServiceLoadProfileData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceChangeProfileImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfilesManager/ServiceChangeProfileImage" message="tns:IProfilesManager_ServiceChangeProfileImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfilesManager/ServiceChangeProfileImageResponse" message="tns:IProfilesManager_ServiceChangeProfileImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IFriendsManager">
    <wsdl:operation name="ServiceSendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/ServiceSendFriendRequest" message="tns:IFriendsManager_ServiceSendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/ServiceSendFriendRequestResponse" message="tns:IFriendsManager_ServiceSendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceRemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/ServiceRemoveFriend" message="tns:IFriendsManager_ServiceRemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/ServiceRemoveFriendResponse" message="tns:IFriendsManager_ServiceRemoveFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/ServiceAcceptFriendRequest" message="tns:IFriendsManager_ServiceAcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/ServiceAcceptFriendRequestResponse" message="tns:IFriendsManager_ServiceAcceptFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceGetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/ServiceGetFriends" message="tns:IFriendsManager_ServiceGetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/ServiceGetFriendsResponse" message="tns:IFriendsManager_ServiceGetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceIsPendingFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/ServiceIsPendingFriendRequest" message="tns:IFriendsManager_ServiceIsPendingFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/ServiceIsPendingFriendRequestResponse" message="tns:IFriendsManager_ServiceIsPendingFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceGetPendingFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/ServiceGetPendingFriendRequest" message="tns:IFriendsManager_ServiceGetPendingFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/ServiceGetPendingFriendRequestResponse" message="tns:IFriendsManager_ServiceGetPendingFriendRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUsersManager" type="tns:IUsersManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUsersManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServiceTryLogin">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceTryLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceTrySignIn">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceTrySignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceUserExistsByUsername">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceUserExistsByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceVerifyPassword">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceVerifyPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicePasswordChanged">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServicePasswordChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceUsernameChanged">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceUsernameChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicePasswordAndUsernameChanged">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServicePasswordAndUsernameChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceGetEmail">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceGetEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILobbyManager" type="tns:ILobbyManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServiceSendMessageToLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceSendMessageToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ServiceConnectToLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceConnectToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceDisconnectFromLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceDisconnectFromLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceCountPlayersInLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceCountPlayersInLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceCreateLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceCreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceGetMessage">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceGetMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceUpdatePlayersInLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceUpdatePlayersInLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IProfilesManager" type="tns:IProfilesManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfilesManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServiceLoadProfileData">
      <soap12:operation soapAction="http://tempuri.org/IProfilesManager/ServiceLoadProfileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceChangeProfileImage">
      <soap12:operation soapAction="http://tempuri.org/IProfilesManager/ServiceChangeProfileImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IFriendsManager" type="tns:IFriendsManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendsManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServiceSendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/ServiceSendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceRemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/ServiceRemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceAcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/ServiceAcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceGetFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/ServiceGetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceIsPendingFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/ServiceIsPendingFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceGetPendingFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/ServiceGetPendingFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImplementation">
    <wsdl:port name="NetTcpBinding_IUsersManager" binding="tns:NetTcpBinding_IUsersManager">
      <soap12:address location="net.tcp://localhost:8090/GoatverseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/GoatverseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS-DUAA\daur0</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILobbyManager" binding="tns:NetTcpBinding_ILobbyManager">
      <soap12:address location="net.tcp://localhost:8090/GoatverseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/GoatverseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS-DUAA\daur0</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IProfilesManager" binding="tns:NetTcpBinding_IProfilesManager">
      <soap12:address location="net.tcp://localhost:8090/GoatverseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/GoatverseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS-DUAA\daur0</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IFriendsManager" binding="tns:NetTcpBinding_IFriendsManager">
      <soap12:address location="net.tcp://localhost:8090/GoatverseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/GoatverseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS-DUAA\daur0</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>