Goatverse/Connected Services/GoatverseService/ServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUsersManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IProfilesManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GoatverseService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersManager_ServiceTryLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTryLogin" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceTryLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTryLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceTrySignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTrySignIn" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceTrySignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTrySignInResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceUserExistsByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceUserExistsByUsername" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceUserExistsByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceUserExistsByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceVerifyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVerifyPassword" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServiceVerifyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVerifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServicePasswordChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:ServicePasswordChanged" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_ServicePasswordChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServicePasswordChangedResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceSendMessageToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceSendMessageToLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceConnectToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceConnectToLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceConnectToLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceConnectToLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceDisconnectFromLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDisconnectFromLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceDisconnectFromLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDisconnectFromLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceCountPlayersInLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCountPlayersInLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceCountPlayersInLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCountPlayersInLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceGetMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceGetMessage" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceSuccessfulJoin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceSuccessfulJoin" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceSuccessfulJoin_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceSuccessfulJoinResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceSucessfulLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceSucessfulLeave" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ServiceSucessfulLeave_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceSucessfulLeaveResponse" />
  </wsdl:message>
  <wsdl:message name="IProfilesManager_ServiceLoadProfileData_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceLoadProfileData" />
  </wsdl:message>
  <wsdl:message name="IProfilesManager_ServiceLoadProfileData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceLoadProfileDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersManager">
    <wsdl:operation name="ServiceTryLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceTryLogin" message="tns:IUsersManager_ServiceTryLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceTryLoginResponse" message="tns:IUsersManager_ServiceTryLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceTrySignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceTrySignIn" message="tns:IUsersManager_ServiceTrySignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceTrySignInResponse" message="tns:IUsersManager_ServiceTrySignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceUserExistsByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceUserExistsByUsername" message="tns:IUsersManager_ServiceUserExistsByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceUserExistsByUsernameResponse" message="tns:IUsersManager_ServiceUserExistsByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceVerifyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServiceVerifyPassword" message="tns:IUsersManager_ServiceVerifyPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServiceVerifyPasswordResponse" message="tns:IUsersManager_ServiceVerifyPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServicePasswordChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ServicePasswordChanged" message="tns:IUsersManager_ServicePasswordChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/ServicePasswordChangedResponse" message="tns:IUsersManager_ServicePasswordChanged_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILobbyManager">
    <wsdl:operation name="ServiceSendMessageToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceSendMessageToLobby" message="tns:ILobbyManager_ServiceSendMessageToLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceConnectToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceConnectToLobby" message="tns:ILobbyManager_ServiceConnectToLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceConnectToLobbyResponse" message="tns:ILobbyManager_ServiceConnectToLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceDisconnectFromLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceDisconnectFromLobby" message="tns:ILobbyManager_ServiceDisconnectFromLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceDisconnectFromLobbyResponse" message="tns:ILobbyManager_ServiceDisconnectFromLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceCountPlayersInLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceCountPlayersInLobby" message="tns:ILobbyManager_ServiceCountPlayersInLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceCountPlayersInLobbyResponse" message="tns:ILobbyManager_ServiceCountPlayersInLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceGetMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceGetMessage" message="tns:ILobbyManager_ServiceGetMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceSuccessfulJoin">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceSuccessfulJoin" message="tns:ILobbyManager_ServiceSuccessfulJoin_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceSuccessfulJoinResponse" message="tns:ILobbyManager_ServiceSuccessfulJoin_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceSucessfulLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManager/ServiceSucessfulLeave" message="tns:ILobbyManager_ServiceSucessfulLeave_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManager/ServiceSucessfulLeaveResponse" message="tns:ILobbyManager_ServiceSucessfulLeave_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProfilesManager">
    <wsdl:operation name="ServiceLoadProfileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfilesManager/ServiceLoadProfileData" message="tns:IProfilesManager_ServiceLoadProfileData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfilesManager/ServiceLoadProfileDataResponse" message="tns:IProfilesManager_ServiceLoadProfileData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUsersManager" type="tns:IUsersManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUsersManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServiceTryLogin">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceTryLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceTrySignIn">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceTrySignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceUserExistsByUsername">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceUserExistsByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceVerifyPassword">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServiceVerifyPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicePasswordChanged">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/ServicePasswordChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILobbyManager" type="tns:ILobbyManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServiceSendMessageToLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceSendMessageToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ServiceConnectToLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceConnectToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceDisconnectFromLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceDisconnectFromLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceCountPlayersInLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceCountPlayersInLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceGetMessage">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceGetMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceSuccessfulJoin">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceSuccessfulJoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceSucessfulLeave">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManager/ServiceSucessfulLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IProfilesManager" type="tns:IProfilesManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfilesManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServiceLoadProfileData">
      <soap12:operation soapAction="http://tempuri.org/IProfilesManager/ServiceLoadProfileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImplementation">
    <wsdl:port name="NetTcpBinding_IUsersManager" binding="tns:NetTcpBinding_IUsersManager">
      <soap12:address location="net.tcp://localhost:8090/GoatverseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/GoatverseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS-DUAA\daur0</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILobbyManager" binding="tns:NetTcpBinding_ILobbyManager">
      <soap12:address location="net.tcp://localhost:8090/GoatverseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/GoatverseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS-DUAA\daur0</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IProfilesManager" binding="tns:NetTcpBinding_IProfilesManager">
      <soap12:address location="net.tcp://localhost:8090/GoatverseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/GoatverseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS-DUAA\daur0</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>